<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'bandsApp/CSS/style.css' %}" />    
    <title>BANDIT</title>
</head>
<body>
        {% include "./navbar.html" %}
            
        <div class="container">
            <h4 id="shoppingBagHeader">SHOPPING BAG</h4>
            <div class="row">
                <div class="col-sm-8">
                    <h4>Total Items ({{numCartItems}})</h4>
                    <table class="table">
                        <tr>
                            <th>Item</th>
                            <th></th>
                            <th>Size</th>
                            <th>Quantity</th>
                            <th>Price</th>
                            <th></th>
                        </tr>
                        {% for band in bands %}
                        <tr>
                            <form action="{% url 'bands:updateQty' band.band.id %}" method="POST">
                                {% csrf_token %}
                                <td><img src="{{band.band.imageUrl}}" alt="" class="bandImg"></td>
                                <td>{{band.band.name}}</td>
                                <td>{{band.band.size}}</td>
                                <td>
                                    <select class="form-control" id="sel1" name="qty">
                                        <option {% if band.qty == 1%} selected {% endif %}>1</option>
                                        <option {% if band.qty == 2%} selected {% endif %}>2</option>
                                        <option {% if band.qty == 3%} selected {% endif %}>3</option>
                                        <option {% if band.qty == 4%} selected {% endif %}>4</option>
                                        <option {% if band.qty == 5%} selected {% endif %}>5</option>
                                    </select>
                                </td>
                                <td>{{band.totalPrice}}</td>
                                <td><input type="submit" name="updateQty" class="btn-link" value="Update"> <a href="{% url 'bands:deleteBand' band.band.id %}">Delete</a></td>
                            </form>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                <div class="col-sm-4">
                    <div class="row">
                        <h4>Order Summary</h4>
                    </div>
                    <div class="row">
                        <table class="table table-bordered">
                            <tr>
                                <td>Merchandise:</td>
                                <td>{{totalPrice}}</td>
                            </tr>
                            <tr>
                                <td>Shipping:</td>
                                <td>FREE</td>
                            </tr>
                            <tr>
                                <td>Total:</td>
                                <td>{{totalPrice}}</td>
                            </tr>
                        </table>
                    </div>
                    <div class="row">
                        <form action="{% url 'bands:checkout' %}" method="POST">
                            {% csrf_token %}
                            <input type="submit" value="Checkout" id="checkout">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        
    </body>
</html>